.navBar {
  justify-content: flex-start;
  background-color: #7a9e9f;
  width: 20%;
  min-width: 300px;
  text-align: center;
}

.navBarlayout {
  margin: 50px;
  width: 180px;
  height: 40px;
  background-color: #bcd86f;
  border-radius: 15%;
  text-align: center;
  padding: 10px;
}

.navBar li {
  margin: 20px;
  width: 200px;
  height: 50px;
  background-color: #eef5db;
  border-radius: 7%;
  text-align: center;
  padding: 10px;
  position: relative;
}

.navBar a {
  text-decoration: none;
}

.errorFetching {
  color: red;
  font-size: larger;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8%;
}
