.displayNotes {
  height: auto;
  width: 100%;
  justify-content: flex-start;
  background-color: #b8d8d8;
}

.displayNotes li {
  margin: 20px;
  width: 250px;
  height: 30px;
  background-color: #eef5db;
  border-radius: 7%;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

.displayNotes button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8%;
}

.errorNotes {
  margin-left: 200px;
  font-size: 40px;
  color: red;
}

#backToNoteful {
  font-size: 30px;

  margin: 50px;
}
