.displayNotes {
  height: 800px;
  width: 100%;
  justify-content: flex-start;
  background-color: #b8d8d8;
}

li {
  margin: 20px;
  width: 100px;
  height: 20px;
  background-color: #eef5db;
  border-radius: 7%;
  text-align: center;
  padding: 10px;
}
